Manifest.toml

.vscode

# LaTeX files
*.synctex.gz
*.log
*.blg
*.bbl
*.aux
*.out
*.bcf
*.loc
*.soc
*.run.xml

# Annoying OSX files
*.DS_Store
Thumbs.db

# old stuff
old_files/*
*.code-workspace

*.jls
tutorials/*
.Rproj.user

simulations/simulation_results_*/*
